.medium-task {
    margin: 10px;
    padding: 5px;
    border: 1px solid rgba(109, 109, 109, 0.413);
    border-radius: 15px;
    box-shadow: 0 3px 5px rgb(109, 109, 109);
    background-color: #f9e8a7;
}