.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

header {
  text-align: center;
    background-color:#A7BEAE;
    padding: 10px 10px 2px 10px;
    margin-bottom: 0;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 10px;
}

section {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

